@charset "utf-8";

.main {
  width: 85%;
  padding-top: 10px;
}

.main .add {
  width: 7%;
  margin-left: 10%;
}

.main .add:hover {
  opacity: 0.7;
}

.switch_label {
  display: flex;
  align-items: center;
  cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
  margin-left: 50%; /* 左寄せのマージン */
  margin-top: 0; /* 上のマージンを0に */
}

input[type='checkbox'] {
  position: absolute;
  width: 0;
  height: 0;
}

.base {
  margin-left: 20%;
  width: 56px; /* トグルの幅 */
  height: 32px; /* トグルの高さ */
  border-radius: 15px; /* 丸みを持たせる */
  background: rgba(255, 255, 209, 1); /* ベースの初期色 */
  position: relative; /* 子要素の絶対位置を基準に */
  transition: background-color 0.5s; /* 背景色のアニメーション */
}

.title {
  margin-left: 4px; /* タイトルの左マージン */
  font-size: 16px; /* フォントサイズ */
  color: #333; /* フォント色 */
}

input:checked ~ .base {
  background: rgba(255, 255, 209, 1); /* チェックされたときのベース色 */
}

.circle {
  position: absolute;
  top: 4px; /* トグルの上端からの距離 */
  left: 4px; /* トグルの左端からの距離 */
  width: 24px; /* サークルの幅 */
  height: 24px; /* サークルの高さ */
  border-radius: 50%; /* サークルを完全に丸くする */
  background: rgba(247, 156, 0, 1); /* サークルの色 */
  transition: transform 0.5s, background-color 0.5s; /* 移動と色変更のアニメーション */
}

input:checked ~ .circle {
  transform: translateX(24px); /* サークルを右に移動 */
  background: rgba(30, 183, 36, 1); /* チェック時のサークル色 */
}


.toggle-container {
  display: flex;
  align-items:center;
  margin-left: 17%; /* サイドバーからの距離を調整 */
  margin-top: 0;
}

.switch_label {
  margin: 0; /* マージンをリセット */
  cursor: pointer; /* ホバー時にカーソルをポインターに変更 */
}

