@charset "utf-8";

.menu {
    width: 15%;
    text-align: center;
    border-right: 1.5px solid #FFFFF3;
}

.home,
.mypage,
.work,
.fave {
    text-decoration: none;
}

.home:hover,
.mypage:hover,
.work:hover,
.fave:hover {
    text-decoration: underline;
}

.menu a:hover {
    color: #7672ae;
}

.shift:hover {
    text-decoration: none;
}

.main {
    width: 85%;
}

.main .add {
    width: 7%;
    margin-left: 10%;
}

.main .add:hover {
    opacity: 0.7;
}

.ge-list {
    width: 70%;
    margin: 0 auto;
    color: #24063A;
}

.ge-list img {
    width: 75%;
    margin-top: 8%;
    border-radius: 35px;
    border: 0.5px solid #24063A;
}

.guzzu {
    background-color: #FFFFF3;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 3%;
}

.event {
    background-color: #FFFFD1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 3%;
}

.event .hi-img {
    width: 13%;
    text-align: center;
    margin-right: 3%;  
}

.guzzu .hi-img {
    width: 13%;
    text-align: center;
    margin-right: 3%;
}

.inf-meter {
    width: 80%;
}

.osi-na-pri p+ p{
    border-left: 1px solid #BA9BDC;
}

.osi-na-pri p {
    text-align: center;
    margin-top: 2%;
    font-weight: 550;
    font-size: 18px;
}

.osi-na-pri .osi{
    width: 30%;
}

.osi-na-pri .name {
    width: 45%;
}

.osi-na-pri .price {
    width: 20%;
    text-align: right;
}

.in-meter {
    margin-top: 3%;
}

.meter-app {
    align-items: center; /* ロゴとメーターを垂直方向に中央寄せ */
}

.meter-app .in-meter {
    width: 95%;
}

.meter-app .app {
    color: #FF1D1D;
    font-weight: bold;
    margin-top: 3%;
    width: 27%;
    text-align: center;
}

.meter-app .app span {
    font-size: 20px;
}