@charset "utf-8";
.scroll-content{
    width: 0;
}
.main {
  width: 85%;
  padding-top: 10px;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 34px);
}

.switch_label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.switch {
  position: relative;
  margin-right: 10px; /* タイトルとのスペース */
}

input[type='checkbox'] {
  position: absolute;
  width: 0;
  height: 0;
}

.base {
  width: 56px;
  height: 32px;
  border-radius: 15px;
  background: rgba(255, 255, 209, 1);
  position: relative;
  transition: background-color 0.5s;
}

.title {
  font-weight: 900;
  font-size: 17px;
  color: #221D7E;
  margin-right: 10px; /* タイトルとトグルの間にスペース */
}

.circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: rgba(247, 156, 0, 1);
  transition: 0.5s;
}

input:checked ~ .base {
  background: rgba(255, 255, 209, 1);
}

input:checked ~ .base .circle {
  transform: translateX(100%);
  background: rgba(30, 183, 36, 1);
}

.note {
  text-align: right; /* 右寄せ */
  margin-left: auto; /* 自動マージンで右寄せ */
  white-space: nowrap; /* 折り返しを防止 */
  flex-shrink: 0; /* 縮小しない */
}
